@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Architects Daughter, sans-serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --radius: 0.625rem;

  --font-serif: Georgia, serif;

  --tracking-tighter: var(--tracking-tighter-base);
  --tracking-tight: var(--tracking-tight-base);
  --tracking-wide: var(--tracking-wide-base);
  --tracking-wider: var(--tracking-wider-base);
  --tracking-widest: var(--tracking-widest-base);
  --tracking-normal: var(--tracking-normal-base);

  --shadow-2xl: var(--shadow-2xl-base);
  --shadow-xl: var(--shadow-xl-base);
  --shadow-lg: var(--shadow-lg-base);
  --shadow-md: var(--shadow-md-base);
  --shadow: var(--shadow-base);
  --shadow-sm: var(--shadow-sm-base);
  --shadow-xs: var(--shadow-xs-base);
  --shadow-2xs: var(--shadow-2xs-base);

  --spacing: var(--spacing-base);
  --letter-spacing: var(--letter-spacing-base);
  --shadow-offset-y: var(--shadow-offset-y-base);
  --shadow-offset-x: var(--shadow-offset-x-base);
  --shadow-spread: var(--shadow-spread-base);
  --shadow-blur: var(--shadow-blur-base);
  --shadow-opacity: var(--shadow-opacity-base);
  --color-shadow-color: var(--shadow-color-base);

  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.625rem;
  --background: oklch(0.9821 0 0);
  --foreground: oklch(0.3485 0 0);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3485 0 0);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3485 0 0);
  --primary: oklch(0.4891 0 0);
  --primary-foreground: oklch(0.9551 0 0);
  --secondary: oklch(0.9006 0 0);
  --secondary-foreground: oklch(0.3485 0 0);
  --muted: oklch(0.9158 0 0);
  --muted-foreground: oklch(0.4313 0 0);
  --accent: oklch(0.9354 0.0456 94.8549);
  --accent-foreground: oklch(0.4015 0.0436 37.9587);
  --destructive: oklch(0.6627 0.0978 20.0041);
  --border: oklch(0.5538 0.0025 17.2320);
  --input: oklch(1.0000 0 0);
  --ring: oklch(0.7058 0 0);
  --chart-1: oklch(0.3211 0 0);
  --chart-2: oklch(0.4495 0 0);
  --chart-3: oklch(0.5693 0 0);
  --chart-4: oklch(0.6830 0 0);
  --chart-5: oklch(0.7921 0 0);
  --sidebar: oklch(0.9551 0 0);
  --sidebar-foreground: oklch(0.3485 0 0);
  --sidebar-primary: oklch(0.4891 0 0);
  --sidebar-primary-foreground: oklch(0.9551 0 0);
  --sidebar-accent: oklch(0.9354 0.0456 94.8549);
  --sidebar-accent-foreground: oklch(0.4015 0.0436 37.9587);
  --sidebar-border: oklch(0.8078 0 0);
  --sidebar-ring: oklch(0.7058 0 0);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: "Times New Roman", Times, serif;
  --font-mono: "Courier New", Courier, monospace;
  --tracking-tighter-base: calc(0.5px - 0.05em);
  --tracking-tight-base: calc(0.5px - 0.025em);
  --tracking-wide-base: calc(0.5px + 0.025em);
  --tracking-wider-base: calc(0.5px + 0.05em);
  --tracking-widest-base: calc(0.5px + 0.1em);
  --tracking-normal-base: 0.5px;

  --shadow-2xl-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
  --shadow-xl-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-md-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-sm-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-xs-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-2xs-base: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);

  --spacing-base: 0.25rem;
  --letter-spacing-base: 0.5px;
  --shadow-offset-y-base: 4px;
  --shadow-offset-x-base: 1px;
  --shadow-spread-base: 0px;
  --shadow-blur-base: 5px;
  --shadow-opacity-base: 0.03;
  --shadow-color-base: #000000;

  --shadow-color: var(--shadow-color-base);
  --shadow-opacity: var(--shadow-opacity-base);
  --shadow-blur: var(--shadow-blur-base);
  --shadow-spread: var(--shadow-spread-base);
  --shadow-offset-x: var(--shadow-offset-x-base);
  --shadow-offset-y: var(--shadow-offset-y-base);
  --letter-spacing: var(--letter-spacing-base);
  --spacing: var(--spacing-base);
  --shadow-2xs: var(--shadow-2xs-base);
  --shadow-xs: var(--shadow-xs-base);
  --shadow-sm: var(--shadow-sm-base);
  --shadow: var(--shadow-base);
  --shadow-md: var(--shadow-md-base);
  --shadow-lg: var(--shadow-lg-base);
  --shadow-xl: var(--shadow-xl-base);
  --shadow-2xl: var(--shadow-2xl-base);
  --tracking-normal: var(--tracking-normal-base);
  --tracking-tighter: var(--tracking-tighter-base);
  --tracking-tight: var(--tracking-tight-base);
  --tracking-wide: var(--tracking-wide-base);
  --tracking-wider: var(--tracking-wider-base);
  --tracking-widest: var(--tracking-widest-base);
  --color-shadow-color: var(--shadow-color-base);
}

.dark {
  --background: oklch(0.2891 0 0);
  --foreground: oklch(0.8945 0 0);
  --card: oklch(0.3211 0 0);
  --card-foreground: oklch(0.8945 0 0);
  --popover: oklch(0.3211 0 0);
  --popover-foreground: oklch(0.8945 0 0);
  --primary: oklch(0.7572 0 0);
  --primary-foreground: oklch(0.2891 0 0);
  --secondary: oklch(0.4676 0 0);
  --secondary-foreground: oklch(0.8078 0 0);
  --muted: oklch(0.3904 0 0);
  --muted-foreground: oklch(0.7058 0 0);
  --accent: oklch(0.9067 0 0);
  --accent-foreground: oklch(0.3211 0 0);
  --destructive: oklch(0.7915 0.0491 18.2410);
  --border: oklch(0.4276 0 0);
  --input: oklch(0.3211 0 0);
  --ring: oklch(0.8078 0 0);
  --chart-1: oklch(0.9521 0 0);
  --chart-2: oklch(0.8576 0 0);
  --chart-3: oklch(0.7572 0 0);
  --chart-4: oklch(0.6534 0 0);
  --chart-5: oklch(0.5452 0 0);
  --sidebar: oklch(0.2478 0 0);
  --sidebar-foreground: oklch(0.8945 0 0);
  --sidebar-primary: oklch(0.7572 0 0);
  --sidebar-primary-foreground: oklch(0.2478 0 0);
  --sidebar-accent: oklch(0.9067 0 0);
  --sidebar-accent-foreground: oklch(0.3211 0 0);
  --sidebar-border: oklch(0.4276 0 0);
  --sidebar-ring: oklch(0.8078 0 0);
  --destructive-foreground: oklch(0.2891 0 0);
  --radius: 0.625rem;
  --font-sans: Architects Daughter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: "Fira Code", "Courier New", monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.03;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-offset-x: 1px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0.5px;
  --spacing: 0.25rem;
  --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
  --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
  --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
  --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
  --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
  --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}